{% extends 'base.html' %}
{% load static %}
{% block content %}

    <form action="" method='POST' class="form-inline" style="margin: 8px;padding: 8px;">

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Nickname</div>
            </div>
            {% csrf_token %}
            {{ host_room_form.nickname }}


        </div>
        <button name="host_room" type="submit" class="btn btn-primary mb-2">Host Game</button>

    </form>

    <hr size="10">

    <form action="" method='POST'>
        <div class="align-items-start" style="margin: 8px;padding: 8px;">

            <div class="input-group" style="margin: 10px;">
                <div class="input-group-prepend"><span class="input-group-text">Nickname</span></div>
                {% csrf_token %}
                {{ join_room_form.nickname }}
                <div class="input-group-append"></div>
            </div>

            <div class="input-group" style="margin: 10px;">
                <div class="input-group-prepend"><span class="input-group-text">Room Code</span></div>
                <div class="input-group-append"></div>
                {% csrf_token %}
                {{ join_room_form.temp_room_code }}
            </div>
            <button name="join_room" type="submit" class="btn btn-primary mb-2" style="margin: 10px;">Join Game</button>

            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}
        </div>
    </form>


{% endblock content %}