{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container">
        <div class="justify-content-center row">
            <div class="col-md-6">
                <h1>Room Code&nbsp;<span style="color:blue;"><br>{{ room_code }}<br><br></span></h1>
            </div>
            <div class="col">
                <h1>Drawer&nbsp;<span style="color:blue;"><br>{{ nickname }}<br><br></span></h1>
            </div>
            <div class="col">
                <h1>Time Left&nbsp;<span style="color:blue;">30</span>s</h1>
            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-md-2">
                    <div id="statusBox"><label>Players</label>
                        <ol class="list-group">

                            {% for folk in folks %}
                                <li class="list-group-item">
                                    <span class="statusBoxUsername">{{ folk }}</span>
                                    <span class="statusBoxPoints">0 pts</span>
                                </li>
                            {% endfor %}

                        </ol>
                    </div>
                </div>
                <div class="col-md-7" id="paint">
                    <canvas id="canvas" width="620" height="500" style="filter: blur(1px);"></canvas>
                </div>

                <div class="col-md-3">
                    <div class="chat-container" data-children-count="1"
                         style="width: 300px;height: 500px;border-radius: 15px;border: 1px solid lightsteelblue ;">
                        <div id="chat" spellcheck="false"
                             style="width: 280px;height: 440px;border-style: none;min-width: 40px;padding-top: 15px;font-size: 18px;font-family: Arial, Helvetica, sans-serif;padding-left: 10px;">
                        </div>
                        <input type="text" id="chat-message-input" placeholder="Enter your message here" size="80">
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">

            <div class="col">
                <div class="brushColor"
                     onclick="chatSocket.send(JSON.stringify({'type': 'brushColor', 'color': 'black'}));"
                     style="border-radius: 50%;width: 30px;height: 30px;background: black;"></div>
            </div>
            <div class="col">
                <div class="brushColor"
                     onclick="chatSocket.send(JSON.stringify({'type': 'brushColor', 'color': 'blue'}));"
                     style="border-radius: 50%;width: 30px;height: 30px;background: blue;"></div>
            </div>
            <div class="col">
                <div class="brushColor"
                     onclick="chatSocket.send(JSON.stringify({'type': 'brushColor', 'color': 'red'}));"
                     style="border-radius: 50%;width: 30px;height: 30px;background: red;"></div>
            </div>
            <div class="col">
                <div class="brushColor"
                     onclick="chatSocket.send(JSON.stringify({'type': 'brushColor', 'color': 'green'}));"
                     style="border-radius: 50%; width:30px;height:30px;background:green;"></div>
            </div>
            <div class="col">
                <div onclick="chatSocket.send(JSON.stringify({'type': 'clearCanvas'}));"
                     id="clearScreen" style="border-radius: 50%; width:30px;height:30px;">
                    clear
                </div>
            </div>
            <div class="col">
                <div onclick="chatSocket.send(JSON.stringify({'type': 'brushColor', 'color': 'white'}));"
                     style="border-radius: 50%; width:30px;height:30px;">
                    erase
                </div>
            </div>
            <div class="col">
                <div class="slidecontainer" data-children-count="1">Size</div>
                <input oninput="chatSocket.send(JSON.stringify({'type': 'strokeSize', 'size': this.value}));"
                       type="range" class="slider" min="5" max="30"
                       value="10">
            </div>
        </div>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    {{ room_code|json_script:"room-name" }}
    {{ nickname|json_script:"nickname" }}

    <script>

        // Canvas

        // Definitions
        var canvas = document.getElementById('canvas');
        var canvasDiv = document.getElementById('paint');
        canvasDiv.style.border = "thick solid #0000FF";
        var ctx = canvas.getContext('2d');
        var flag = false, prevX = 0, prevY = 0;
        var msg, coordinate, prevCoordinate, users;

        // Specifications
        ctx.lineCap = "round";
        ctx.lineJoin = "round";
        ctx.fillStyle = "#000000";
        ctx.strokeStyle = 'black'; // initial brush color
        ctx.lineWidth = 10; // initial brush width
        ctx.globalAlpha = 1.0; // opacity

        canvas.addEventListener("mousemove", function (e) {
            console.log()
            findxy('move', e);
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);

        function draw(newX, newY) {
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
            ctx.lineTo(newX, newY);
            ctx.stroke();
            ctx.closePath();
            prevX = newX;
            prevY = newY;
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        console.log('Room name:' + roomName);
        console.log('Player Nickname:' + nickname.text);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );


        chatSocket.onmessage = function (e) {
            msg = JSON.parse(e.data);
            console.log("MESSAGE", msg);
            console.log("tipi:", msg.type);

            switch (msg.type) {
                case "coordinate":
                    coordinate = msg.coordinate;
                    console.log("coordinate:", coordinate);
                    draw(coordinate.x, coordinate.y);
                    break;

                case "prevCoordinate":
                    prevCoordinate = msg.coordinate;
                    updatePrev(prevCoordinate.x, prevCoordinate.y);
                    break;

                case "chat_message":
                    console.log("user message", msg['message']);
                    document.querySelector('.chat-container').innerText += msg.message + '\n';
                    break;

                case "update_playerlist":
                    console.log("new user added:", msg.users);
                    break;

                case "new_user":
                    console.log("new user added:", msg.user);
                    add_user(msg.user);
                    break;

                case "delete_user":
                    console.log("user deleted:", msg.user);
                    // delete_user(user);
                    break;

                case "brushColor":
                    updateColor(msg.color);
                    break;

                case "clear_canvas":
                    clearCanvas();
                    break;
            }
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) { //enter, return
                const messageInputDom = document.querySelector('#chat-message-input');
                const text = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'type': 'message',
                    'text': text
                }));
                console.log("sent:" + text)
                messageInputDom.value = '';
            }
        };

        function add_user(user) {
            let player_list_section = document.querySelector('.list-group');
            var li = document.createElement('li');

            var span1 = document.createElement('span');
            span1.setAttribute('class', 'statusBoxUsername');
            span1.innerHTML = user;
            var span2 = document.createElement('span');
            span2.setAttribute('class', 'statusBoxPoints');
            span2.innerHTML = '0 pts';
            li.appendChild(span1);
            li.appendChild(span2);
            player_list_section.appendChild(li);

        }

        function delete_user(username) {
            let usernames = document.getElementsByClassName('list-group');
            usernames.forEach(function (element, index, arr) {
                if (element.innerHTML === username)
                    arr.splice(index, 1);
            });

        }

        function updateColor(color) {
            ctx.strokeStyle = color;
        }

        function updateBrushSize(size) {
            ctx.lineWidth = size;
        }

        function updatePrev(coordinate) {
            prevX = coordinate.x;
            prevY = coordinate.y;
        }

        function findxy(res, e) {
            if (res == 'down') {
                data = {
                    'x': e.clientX - canvas.offsetLeft - canvasDiv.offsetLeft,
                    'y': e.clientY - canvas.offsetTop - canvasDiv.offsetTop
                };

                prevX = data['x'];
                prevY = data['y'];

                chatSocket.send(JSON.stringify({
                    "type": "prevCoordinate",
                    "coordinate": data
                }));

                flag = true;
            }

            if (res == 'up' || res == "out") {
                flag = false;
            }

            if (res == 'move') {
                if (flag) {
                    data = {
                        'x': e.clientX - canvas.offsetLeft - canvasDiv.offsetLeft,
                        'y': e.clientY - canvas.offsetTop - canvasDiv.offsetTop
                    };

                    chatSocket.send(JSON.stringify({
                        "type": "stroke_coordinate",
                        "coordinate": data
                    }));
                }
            }
        }

    </script>

{% endblock content %}